@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}


<link rel="stylesheet" href="/css/LoginStyle.css" />


<div class="wrapper">
    @if (ViewData.Keys.Contains("mensaje"))
    {
        <p style="color:red">
            @ViewData["mensaje"]
        </p>
        
    }

    <div class="logo">
        <img src="/Images/lbm.jpeg" alt="">
    </div>
    <div class="text-center mt-4 name">
        Liceo Bicentenario Molina
    </div>
    <form asp-action="Login" class="p-3 mt-3">
        
        <div class="mb-3">
            <span class="far fa-user"></span>
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <span class="fas fa-key"></span>
            <label asp-for="Password" class="form-label"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-fiel">
            <input class="form-check-input" type="checkbox" asp-for="RememberMe" />
            <label class="form-check-label" asp-for="RememberMe"></label>
        </div>
        <button class="btn mt-3">Iniciar Sesión</button>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <a class="btn btn-success" asp-action="LoginExterno" asp-route-proveedor="Google">
            Continuar con google
        </a>
    </form>

</div>
@section Scripts{
	<partial name="_ValidationScriptsPartial" />
}
